
body {
    margin: 0;
    padding: 0;
    background: #181818 url(images/wrapper-background.png) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #181B20;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;    
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;    
    color: #993399;
}

    a:hover {
        text-decoration: underline;
    }

select, input:not([type=image]), textarea {
    border-radius: 7px;
    border: 1px solid;
    padding: 5px 10px;
    border: solid #a7a7a7 1px;
}

input[type=image] {
    vertical-align: middle;
}


input[type=image]:hover, input[type=submit]:active {
    opacity: 0.8;
}

input[type=image]:active, input[type=submit]:active {
    transform: translateY(2px);
}

.form-table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 20px;
}


.textBoxRoundCorner {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

img.border {
    border: 6px solid #f2d9f2;
}

img.alignleft {
    float: left;
    margin-right: 25px;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header-wrapper {
    height: 172px;
    background: url(Images/bg-header-red-home.jpg) no-repeat;
}

#header {
    width: 960px;
    height: 53px;
    margin: 0 auto;
}


/* Menu */

#menu {
    width: 984px;
    height: 60px;
    margin: 0px auto;
    padding: 0px 20px 0px 20px;
    background: #4d194d url(images/menu-wrapper-bg.png) repeat-x left top;
}

    #menu ul {
        margin: 0;
        padding: 0px 0px 0px 0px;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        float: left;
        margin-right: 1px;
        height: 59px;
    }

    #menu a {
        display: block;
        float: left;
        height: 60px;
        margin: 0px;
        padding: 0px 30px 0px 30px;
        line-height: 60px;
        letter-spacing: -1px;
        text-decoration: none;
        text-transform: lowercase;
        text-shadow: 2px 2px 2px #4d194d;
        font-family: 'Abel', sans-serif;
        font-size: 24px;
        font-weight: normal;
        color: #FFFFFF;
        border: none;
    }

    #menu .current_page_item a {
        text-shadow: 2px 2px 2px #391339;
        background: #4d194d;
    }

    #menu a:hover {
        background: #4d194d;
        text-decoration: none;
        text-shadow: 2px 2px 2px #4d194d;
        color: #FFFFFF;
    }

/* Page */

#page {
    width: 1024px;
    margin: 15px;
    padding: 0px;
}

/* Content */

#content {    
    width: 783px;
    padding: 10px 10px 0px 10px;
    background: #FFFFFF url(images/content-bg-bottom.png) no-repeat left bottom;
    margin-left: 0px;
}


.links {
    display: block;
    width: 96px;
    padding: 2px 0px 2px 0px;
    background: #A53602;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
}


/* Footer */

#footer {
    width: 980px;
    height: 50px;
    margin: 0px auto;
}

    #footer p {
        margin: 0px 0;
        padding-top: 10px;
        line-height: normal;
        letter-spacing: -1px;
        text-align: center;
        text-shadow: 1px 1px 1px #050505;
        text-transform: lowercase;
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        color: #525050;
    }

    #footer a {
        text-decoration: underline;
        color: #525050;
    }


