/*input {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}*/

/*#tabelaRenovacao {
}

    #tabelaRenovacao table, td {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 0px;
        padding: 0px;      
    }*/

.direita {
    text-align: right;
}

.divisor {
    border-bottom: 1px solid #DEDEDE;
}

.versaoBotoesDoc {
    margin: 5px 115px;
}

.validator {
    font-size: 1.8em;
    flood-color: red;
    font-family: Tahoma;
}

.vermelho {
    color: #FF0000;
}

.azul {
    color: #0026ff;
}

.requisitoLabel {
    font-size: 12pt;
    font-weight: bold;
}

.tramite {
    font-size: 8pt;
}

.tramiteHora {
    color: #800000;
    font-size: 8pt;
}

.taxaValor {
    color: red;
    font-size: 8pt;
    font-weight: bold;
}

.taxaNome {
    font-weight: bold;
}

.tramiteUsuario {
    color: #0026ff;
    font-size: 8pt;
}

.SelectedRowStyle {
    background-color: #FFFFA7;
    color: black;
    font-size: 1em;
    border: solid 3px;
    margin: 15px 0;
    padding: 15px 0;
    height: 30px;
}

.gridView8 {
    font-size: 8pt;
}

.gridView10 {
    font-size: 10pt;
}

.gridUnidadeLabel {
    font-size: 10pt;
    text-align:right;
}

.fonte8 {
    font-size: 8pt;
}